@model IEnumerable<prjMvcCoreDemo.Models.TCustomer>

@{
    ViewData["Title"] = "List";
}

<h1>會員列表</h1>

<p>
    <a asp-action="Create">新建資料</a>
</p>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢"/>
}
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPassword)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new {  id=item.FId  }) |
                        @Html.ActionLink("刪除", "Delete", "Customer",new {  id=item.FId },new{onclick="return confirm('確定要刪除嗎?')"})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
